


html {
  scroll-padding-top: 70px; /* height of sticky header */
}
body{
	font-family: 'ABeeZee', sans-serif;
	color: yellow;
	letter-spacing: 3px;
}

.active{
	border: 2px solid #FFD300;
	border-bottom: 4px solid white;
  display: inline-block;
  line-height: 0.85;
  
}


.newclass{
  display: inline-block;
  
}

nav ul a:hover{
	border: 2px solid #FFD300;
	border-bottom: 4px solid white;
  display: inline-block;
  line-height: 0.85;
}

nav {
  transition: background .5s;
  opacity: 0;
   /* control how smooth the background changes */
}

.nav-active{
  background-color: #652ec7;
  transition: background .5s;
  opacity: 1;
}

.nav-sleep{
  opacity: 0;
  transition: background .5s;
}


#rcorners2 {
  border-radius: 25px;
  border: 2px solid #FFD300;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  background: linear-gradient(to bottom, #09FBD3 0%, #F5D300 100%);  
}

h3{
	color: white;
}

.aboutpara{
	background: linear-gradient(to bottom, #09FBD3 0%, #F5D300 100%);  


color: black;
padding-top: 4px;
padding-bottom: 4px;
}

.list-inline {
    
    display: flex;
  justify-content: center;
}


.list-inline li a {
  
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.list-inline  li a:hover {
  background-color: white;
}

.list-inline-project {
   
    display: flex;
  justify-content: center;
  
 
}

.list-inline-project a {
 
}

.gityt{
  
  background-color: black; color: black;
}
.gityt.image {
  display: block;
  width: 100%;
  height: 99%;
  
}

.middle {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
  width: 0px;
  height: 0px;
  padding-bottom: 0px;
  transition: .3s ease;
  opacity: 0;
}

.gityt:hover .middle {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.exppara{
	background: black;

color: black;
padding-top: 4px;
padding-bottom: 4px;
}

.expcards{
	display: flex;
  justify-content: center;
}

.edupara{
 background: linear-gradient(to bottom, #09FBD3 0%, #F5D300 100%);  

color: black;
padding-top: 4px;
padding-bottom: 4px;
}

.skillpara{
	 background: linear-gradient(to bottom, #09FBD3 0%, #F5D300 100%);
   color: black;
}

.contactpara{
	
  height: 500px; /* You must set a specified height */
  
  background-color: black;
padding-top: 4px;
padding-bottom: 4px;
}

.list-inline-contact {
    
    display: flex;
  justify-content: center;
  padding-left: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin-left: -5px;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 0;
    box-sizing: border-box;
}

.leftright-spacing {
    padding-left: 4rem;
    padding-right: 4rem;
}
.leftright-spacing h2 {
    margin: 1.5rem 0;
    font-size: 3.5rem;
    letter-spacing: .2rem;
}
.leftright-spacing h1, h2 {
    font-family: 'Patua One', Georgia, serif;
}

.leftright-spacing h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-wide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4rem -0.5rem;
}

.card-wide:nth-of-type(even) {
    flex-wrap: wrap-reverse;
}

.card-wide:nth-of-type(even) .card-image {
    order: 1;
}
.leftright-spacing {
    padding-left: 4rem;
    padding-right: 4rem;
}

.card-image {
    flex: 1;
    margin: auto;
}

.card-image, .card-content {
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-image a {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    margin: auto 0;
}

.card-image img {
    display: block;
    width: 100%;

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 yellow;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.card-content {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 300px;
}

.card-image, .card-content {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.card-wide h3 {
    margin: 0;
    font-size: 2rem;
    display: block;
    font-size: 30px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-content .flat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.flat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.flat-list > li {
  display: inline-block;
}
.chips-list li {
  border: 1px solid;
  border-radius: 4rem;
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  text-transform: lowercase;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  box-shadow: 0.5px 0.5px 4px 0 yellow;
}
hr {
    margin: 5rem 0;
    margin-top: 5rem;
    margin-right: 0px;
    margin-bottom: 5rem;
    margin-left: 0px;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: white;
}


@media screen and (min-width: 0px) {
  body {font-size: 10px;}
  .navbar {font-size:1.2em;}
  footer {font-size: 0.6em; height: 5em; padding-top: 1.4em;}
  h4 {margin-top: 1em;}
}

@media screen and (min-width: 768px) {
  body {font-size: 13px;}
  .navbar {font-size: 1.2em;}
  footer {font-size: 1em;  height: 3em;
  padding-top: 1.4em;}
  h4 {margin-top: 0em;}
  }

@media screen and (min-width: 992px) {
  body {font-size: 14px;}
}

@media screen and (min-width: 1200px) {
  body {font-size: 16px;}
}